@use '../../scss/base' as *;

.header-card {
  width: 100%;
  height: 100vh;
  background: url("/assets/img/pexels-wendy-wei-1190297.jpg") no-repeat center/cover;
}

.header-content {
  position: relative;
  top: 30%;
  z-index: 1;
  @include flex-center;
  flex-direction: column;
  gap: 15px;
}

.header-content h1 {
  font-weight: 700;
  font-size: 64px;
  margin: 0 30px;
  line-height: 74.5px;
  color: #fff;
  @include text-shadow($primary-color);
}

.header-content__input-group {
  width: 100%;
@include flex-center;
  gap: 15px;
  margin: 25px;
}

label {
  margin-top: -0.5rem;
  font-weight: bold;
}

.p-float-label {
  width: 40%;
}

.header-content__input {
  height: 40px;
  width: 100%;
}

.header-content__input:focus+label {
  color: $main-color;
  @include text-shadow($primary-color);
}