.container {
  display: flex;
}

h4,
h6 {
  margin: 5px 0;

}

.event-item {
  height: 200px;
  width: 100%;
}

.img-container {
  margin: 3px;
  cursor: pointer;
}

h4 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

.img-container {
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.08);
  }

}
